<% content_for :head do %>
   <% if @current_user.is_owner? %>
     <div class="AddItem" id="Add-Item-form">
      <p class="Add-heading">
        Place Items
      </p>
       <%= form_with(model: @menu, url: menu_items_url, method: "post", local: true) do |form| %>
         <div class="costum-select">
           <select name="id" onchange=display_form(this.value)>
            <option value="">Select Menu</option>
             <% @menus.each do |menu| %>
               <option class="Dropdown-content" value=<%= menu.id %>> <%= menu.name %> </option>
             <% end %>
             <option value="Add a Menu"> Add Menu </option>
           </select>
         </div>
         <%= form.text_field :new_menu_name, placeholder: "Menu Name" %>
         <%= form.text_field :name, placeholder: "Item Name" %>
         <%= form.number_field :price, placeholder: "Item Price" %>
         <%= form.text_field :description, placeholder: "Item Description" %>
         <p class="ItemAdd-Button">
          <%= form.submit value = "Add", data: { "disable-with": "Adding" } %>
         </p>
       <% end %>
     </div>
   <% end %>
<% end %>