<div class="MenuItems">
  <% @menus.each do |menu| %>
    <ul class="MenuItems-List">
      <h3 class="MenuName" id=<%= menu.name %> >
        <%= menu.name %>
      </h3>
      <% menu.menu_items.order(:name).each do |menu_item| %>
        <li class="MenuItem">
          <p class="MenuItem-Name">
            <%= menu_item.name %>
            <span class="MenuItem-rating">
              <% menu_item.ratings.to_i.times do %>
               <%= image_tag "rate.png" %>
              <% end %>
              <% (5 - menu_item.ratings.to_i).times do %>
               <%= image_tag "star1.png" %>
              <% end %>
            </span>
            <span class="MenuItem-details">
              <span class="MenuItem-price"> Rs. <%= menu_item.price %> </span>
              <span class="MenuItem-description"> <%= menu_item.description %> </span>
            </span>
          </p>
          <p class="UpdateItem">
            <% if @current_user.is_owner? %>
              <p class="MenuItem-delete">
                <%= link_to edit_menu_item_path(id: menu_item.id) do %>
                  <%= image_tag "edit1.png" %>
                <% end %>
                <%= link_to menu_item, method: :delete, data: { confirm: "Are you sure?" } do %>
                  <%= image_tag "trash-can-outline.png" %>
                <% end %>
              </p>
            <% end %>
            <p class="OrderItem-add" >
             <% if @order %>
              <% if @order.order_items.get_order_item(menu_item.id).exists? %>
                <%= link_to "-", order_item_path(id: @order.order_item(menu_item.name).id),
                            { :method => :delete } %>
                <%= @order.order_items.get_order_item(menu_item.id).count %>
                <%= link_to "+", order_items_path(menu_item_id: menu_item.id),
                            { :method => :post } %>
              <% else %>
                <%= link_to "Add to cart", order_items_path(menu_item_id: menu_item.id),
                            { :method => :post } %>
              <% end %>
            <% else %>
              <%= link_to "Add to cart", order_items_path(menu_item_id: menu_item.id),
                          { :method => :post } %>
            <% end %>
          </p>
          <% if @current_user.is_owner? %>
            <p class="MenuItemDelete">
             <%= link_to edit_menu_item_path(id: menu_item.id) do %>
               <%= image_tag "edit1.png", class: "Delete" %>
             <% end %>
             <%= link_to menu_item, method: :delete do %>
              <% image_tag "remove.png" %>
             <% end %>
            </p>
          <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>