<main class="SignUpPage">
  <p class="SignUp-Login">
    Edit Item
  </p>
  <%= form_with url: menu_item_path, method: :patch, class: "SignUp-form" do |form| %>
    <%= form.text_field :name,
                        placeholder: "Item Name",
                        value: @menu_item.name,
                        autofocus: "autofocus" %>
    <br>
    <%= form.number_field :price,
                          placeholder: "Price",
                          value: @menu_item.price,
                          class: "edit-item-price" %>
    <br>
    <%= form.text_field :description,
                        value: @menu_item.description,
                        placeholder: "Description" %>
    <br>
    <%= form.submit "Update", class: "SignUp-button" %>
  <% end %>
</main>