<main class="Users-Main">
  <% content_for :search do %>
    <div class="SearchItem">
      <%= form_with(url: search_path, method: "get", local: true) do |form| %>
        <%= form.text_field :email, placeholder: "Enter user email" %>
        <%= form.submit "Search User", placeholder: "Enter user email" %>
      <% end %>
    </div>
  <% end %>
  <section>
    <table class="Personas">
      <%= render partial: "users", locals: { roles: nil, owner: @current_user, heading: "Owner" } %>
      <%= render partial: "users", locals: { roles: @clerks, owner: nil, heading: "Clerks" } %>
      <%= render partial: "users", locals: { roles: @customers, owner: nil, heading: "Customers" } %>
    </table>
  </section>
  <div class="Add-Clerk">
    <h2 class="Signup-Header">Join a Clerk </h2>
    <%= form_with url: clerk_path, class: "SignUp-Form" do |form| %>
    <div>
    <%= form.text_field :name,
                        placeholder: "Name", autofocus: true %>
    </div>
    <br>
    <%= form.email_field :email,
                         placeholder: "Email" %>
    <br>
    <%= form.password_field :password,
                            placeholder: "Password" %>
    <br>
    <%= form.text_field :role, value: "customer", readonly: true %>
    <br>
    <%= form.submit "Join", data: { "disable-with": "Entering" }, class: "SignUp-Button" %>
  <% end %>
</div>
</main>