<body>
<main class="SignUpMain">
  <h2 class="Signup-Header">Ready to Sign Up :) </h2>
 <section>
  <%= form_with url: users_path, class: "SignUp-Form" do |form| %>
    <div>
    <%= form.text_field :name,
                        placeholder: "Name", autofocus: true %>
    </div>
    <br>
    <%= form.email_field :email,
                         placeholder: "Email" %>
    <br>
    <%= form.password_field :password,
                            placeholder: "Password" %>
    <br>
    <%= form.text_field :role, value: "customer", readonly: true %>
    <br>
    <%= form.submit "Sign up", data: { "disable-with": "Signing up....." }, class: "SignUp-Button" %>
  <p class="SignUp-Login">
    Already an user?
    <%= link_to "Login here", new_session_path, class: "Login-Page" %>
  </p>
  <% end %>

 </section>
</main>
</body>