<main class="SignUpMain">

  <p class="SignUp-Login">
    Already an user?
    <%= link_to "Login here", new_session_path, class: "Login-Page" %>
  </p>
  <h2 class="Signup-Header">Ready to Sign Up :) </h2>
  <%= form_with url: users_path, class: "SignUp-Form" do |form| %>
    <%= form.text_field :name,
                        placeholder: "Name" %>
    <br>
    <%= form.email_field :email,
                         placeholder: "Email" %>
    <br>
    <%= form.password_field :password,
                            placeholder: "Password" %>
    <br>
    <%= form.submit "Sign up", data: { "disable-with": "Signing up....." }, class: "SignUp-Button" %>
  <% end %>
</main>