<h2 class="Sales-Main"> Data</h2>
<div class="Sales-Report">
 <h3 class="Sale-Menu">
  Total Menus : <%= @menus.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Items : <%= @menu_items.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Clerks : <%= @users.clerks.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Buyers : <%= @users.customers.count %>
 </h3>

 <% price = 0 %>
 <% @orders.each { |order| price = price + order.total_price } %>
  <div class = "sales_division">
   <div class="sub-head">Date Wise Report </div>
    <%= form_tag("/date_report", method: "get") do %>
      <%= date_field_tag "begin_date", nil, class: "Date-field", required: true %>
      <%= date_field_tag "end_date", nil, class: "Date-field", required: true %>
      <div><%= submit_tag nil, class: "Submit-button", value: "Display Report" %></div>
    <% end %>
   </div>
  </div>