<h2 class="Sales-Main"> Data</h2>
<div class="Sales-Report">
 <h3 class="Sale-Menu">
  Total Menus : <%= @menus.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Items : <%= @menu_items.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Orders : <%= @orders.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Clerks : <%= @user.clerks.count %>
 </h3>
 <h3 class="Sale-Menu">
  Total Buyers : <%= @user.customers.count %>
 </h3>

 <% price = 0 %>
 <% @orders.each { |order| price = price + order.total_price } %>
 <% price_offline = 0 %>
 <% @orders.all.each do |order| %>
   <% if order.walkin_order? %>
     <% price_offline = price_offline + order.total_price %>
   <% end %>
 <% end %>
</div>