<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <script>
    function show_box(val) {
      var element = document.getElementById("new_menu_name");
      if (val == "Add a Menu")
         { element.style.display = "inline"; }
      else { element.style.display = "none"; }
    }
  </script>
  </head>

  <body>
    <div class="head-page">
    <nav class="navbar">
    <div class="navbar-logo">
      <h2 class="navbarHeader">
      <%= image_tag "chef.png" %>WELCOME TO PK-PLAZA
      </h2>
      <%= image_tag "image.png" %>
    </div>
    <div class="Buttons-container">
        <div class="navbar-indexbutton">
            <h3><%= image_tag "nav-buttons.png" %> <% if @current_user %> <%= @current_user.name %>
                                                  <% else %>
                                                  Online
                                                  <% end %>
            </h3>
        </div>
      <ul class="navbarButtons">
        <% if @current_user %>
          <li class="navbarButton">
           <%= image_tag "main.png" %>
            <%= link_to "Home", menus_path %>
          </li>
          <% if @current_user.is_clerk? || @current_user.is_owner? %>
            <li class="navbarButton">
              <%= image_tag "leftorders.png" %>
              <%= link_to "Pending Orders", pending_orders_path %>
            </li>
          <% end %>
          <% if @current_user.is_owner? %>
            <li class="navbarButton">
              <%= image_tag "List.png" %>
              <%= link_to "All Orders", all_orders_path %>
            </li>
          <% end %>
          <li class="navbarButton">
            <%= image_tag "order.png" %>
            <%= link_to "Orders", orders_path %>
          </li>
          <li class="navbarButton">
            <%= image_tag "cart.png" %>
            <%= link_to "Cart", cart_path %>
          </li>
          <li class="navbarButton">
            <%= image_tag "logout.png" %>
            <%= link_to "LogOut", destroy_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="navbarButton">
            <%= image_tag "Login.png" %>
            <%= link_to "Sign In", new_session_path %>
          </li>
          <li class="navbarButton">
            <%= image_tag "signup.png" %>
            <%= link_to "Sign Up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </nav>
     <div class="SearchItem">
       <h3>Order Online</h3>
       <div class="Food-Icons"> <%= image_tag "krusher.png" %> </div>
       <%= yield :head %>
       <%= yield :search %>
     </div>
      <% if flash.alert %>
       <p class="alert"><%= alert %></p>
      <% end %>
      <% if flash[:error] %>
       <div id="error_string">
        <h2>
          <%= pluralize(flash[:error].count, "error") %> Please try again
        </h2>
        <ul>
          <% flash[:error].each_with_index do |msg, index| %>
            <li class="error-msg"><%= "#{index + 1}.#{msg}" %></li>
          <% end %>
        </ul>
       </div>
      <% end %>
  </div>
       <%= yield %>
       
  </body>
</html>
